.test-anim{
  background-color: yellow;
  width: 400px;
}

.example-enter { //start enter
  opacity: 0.01;

}

.example-enter.example-enter-active { //end of enter, completely entered
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave { //start leaving
 opacity: 1;
}

.example-leave.example-leave-active { //end of leaving
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}